@font-face {
    font-family: "Ysabeau Infant";
    src: url("/YsabeauInfant.ttf") format("truetype");
}

@font-face {
    font-family: Recursive;
    src: url("/Recursive.ttf") format("truetype");
}

:root {
    --font-body: Recursive, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-headline: "Ysabeau Infant", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bg-color: #59102a;
    --bg-gradient: conic-gradient(from 0.5turn at left bottom, #ff1493, #663399);
    --surface: #0002;
    --link-color: #f76707;
    --text-color: #f59f00;
    --text-xl: 2rem;
    --text-lg: 1.3rem;
    --space-sm: .6rem;
    --space: 1rem;
    --space-lg: 1.4rem;
    --round-sm: .3rem;
    --round: .6rem;
    --shadow: 0 -1px 3px 0 #0304071e, 0 1px 2px -5px #0304071e, 0 2px 5px -5px #03040723, 0 4px 12px -5px #03040726, 0 12px 15px -5px #0304072b;
    --shadow-top: 0 1px 3px 0 #0304071e, 0 -1px 2px -5px #0304071e, 0 -2px 5px -5px #03040723, 0 -4px 12px -5px #03040726, 0 -12px 15px -5px #0304072b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    overflow: hidden;
    background-attachment: fixed;
    background-color: var(--bg-color);
    background-size: 100vw 100dvh;
    background-image: var(--bg-gradient);
    font-family: var(--font-body);
    color: var(--text-color);
}

h1,
h2 {
    font-family: var(--font-headline);
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.button {
    background-color: var(--surface);
    border: none;
    border-radius: var(--round-sm);
    padding: var(--space-lg);
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--link-color);
    text-transform: uppercase;
    box-shadow: var(--shadow);
    cursor: pointer;
    align-self: center;
}